{{ define "main" }}
<main>
	<div class="skill-group container">
		<h1>{{ with .Site.GetPage "section" "skills" }}{{ .Title }}{{ end }}</h1>
		<div class="row">
			{{ range ( where .Site.RegularPages "Type" "skills" ) }}
			{{ .Render "summary" }}
			{{ end }}
		</div>
	</div>
	<hr />

	<div class="container">
		<h1>{{ with .Site.GetPage "section" "projects" }}{{ .Title }}{{ end }}</h1>
		<div class="row">
			{{ range ( where .Site.RegularPages "Type" "project" ) }}
			{{ .Render "experience" }}
			{{end}}
		</div>
	</div>
	<hr />

</main>
<a href="/contact">Contact</a>
{{ end }}