[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/Vimux/blank
